* {
    list-style-type: none;
}

header {
    background-color: blue;
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
}
aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
}

aside input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: row;
}

#container h5 {
    text-align: center;
}

.days {
    background-color: salmon;
    padding: 10px;
    margin: 5px;
}

/* Add CSS to look similar to appearance and functionality on preview, is there a way to hide the cards until search results populate?*/
#current-day {
    background: black;
    color: white;
    padding: 30px;
}

li {
    padding: 5px;
}